--
-- PostgreSQL database dump
--

\restrict 923c2g1qzYFA3POGnhnT6KMrhYjJcy1GtINbVOxckr7aqnsIF1AfiLBlw67X4RE

-- Dumped from database version 18.6
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'SQL_ASCII';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: fn_guncelleme_tarihi_guncelle(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.fn_guncelleme_tarihi_guncelle() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.guncelleme_tarihi = NOW();
    RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: begeniler; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.begeniler (
    id integer NOT NULL,
    kullanici_id integer NOT NULL,
    yorum_id integer,
    soru_id integer,
    tur character varying(10) NOT NULL,
    olusturulma_tarihi timestamp with time zone DEFAULT now(),
    CONSTRAINT begeniler_tur_check CHECK (((tur)::text = ANY ((ARRAY['up'::character varying, 'down'::character varying])::text[]))),
    CONSTRAINT chk_begeni_hedef CHECK ((((yorum_id IS NOT NULL) AND (soru_id IS NULL)) OR ((yorum_id IS NULL) AND (soru_id IS NOT NULL))))
);


--
-- Name: TABLE begeniler; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.begeniler IS 'Upvote/downvote oylama sistemi.';


--
-- Name: begeniler_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.begeniler_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: begeniler_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.begeniler_id_seq OWNED BY public.begeniler.id;


--
-- Name: etiketler; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.etiketler (
    id integer NOT NULL,
    ad character varying(50) NOT NULL,
    slug character varying(50) NOT NULL
);


--
-- Name: TABLE etiketler; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.etiketler IS '─░├ğerik etiketleme sistemi - anahtar kelimeler.';


--
-- Name: etiketler_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.etiketler_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: etiketler_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.etiketler_id_seq OWNED BY public.etiketler.id;


--
-- Name: gunluk_kayitlar; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.gunluk_kayitlar (
    id integer NOT NULL,
    kullanici_id integer,
    tarih date DEFAULT CURRENT_DATE NOT NULL,
    su_miktari integer DEFAULT 0,
    semptomlar jsonb DEFAULT '[]'::jsonb,
    hareket_edildi boolean DEFAULT false,
    uyku_kalitesi character varying(50),
    ruh_hali character varying(50)
);


--
-- Name: gunluk_kayitlar_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.gunluk_kayitlar_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: gunluk_kayitlar_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.gunluk_kayitlar_id_seq OWNED BY public.gunluk_kayitlar.id;


--
-- Name: karma_gecmisi; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.karma_gecmisi (
    id integer NOT NULL,
    kullanici_id integer,
    islem_turu character varying(100),
    puan_degisimi integer,
    tarih timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: karma_gecmisi_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.karma_gecmisi_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: karma_gecmisi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.karma_gecmisi_id_seq OWNED BY public.karma_gecmisi.id;


--
-- Name: kategoriler; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.kategoriler (
    id integer NOT NULL,
    ad character varying(100) NOT NULL,
    slug character varying(100) NOT NULL,
    renk character varying(7) DEFAULT '#148282'::character varying
);


--
-- Name: TABLE kategoriler; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.kategoriler IS 'Makale ve sorular─▒ grupland─▒ran kategoriler.';


--
-- Name: kategoriler_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.kategoriler_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: kategoriler_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.kategoriler_id_seq OWNED BY public.kategoriler.id;


--
-- Name: kiliti_acilan_makaleler; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.kiliti_acilan_makaleler (
    kullanici_id integer NOT NULL,
    makale_id integer NOT NULL,
    tarih timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: kullanicilar; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.kullanicilar (
    id integer NOT NULL,
    kullanici_adi character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    sifre_hash character varying(255) NOT NULL,
    ad_soyad character varying(100),
    avatar_url character varying(500),
    bio text,
    rol character varying(20) DEFAULT 'kullanici'::character varying,
    olusturulma_tarihi timestamp with time zone DEFAULT now(),
    guncelleme_tarihi timestamp with time zone DEFAULT now(),
    uzmanlik_alani character varying(100),
    karma_puani integer DEFAULT 0,
    CONSTRAINT kullanicilar_karma_puani_check CHECK ((karma_puani >= 0)),
    CONSTRAINT kullanicilar_rol_check CHECK (((rol)::text = ANY ((ARRAY['kullanici'::character varying, 'uzman'::character varying, 'admin'::character varying])::text[])))
);


--
-- Name: TABLE kullanicilar; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.kullanicilar IS 'Platform kullan─▒c─▒lar─▒n─▒ tutar: ├╝yeler, yazarlar ve y├Âneticiler.';


--
-- Name: kullanicilar_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.kullanicilar_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: kullanicilar_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.kullanicilar_id_seq OWNED BY public.kullanicilar.id;


--
-- Name: makale_etiketler; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.makale_etiketler (
    makale_id integer NOT NULL,
    etiket_id integer NOT NULL
);


--
-- Name: TABLE makale_etiketler; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.makale_etiketler IS 'Makaleler ve etiketler aras─▒ndaki ├ğoka-├ğok ili┼şki tablosu.';


--
-- Name: makaleler; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.makaleler (
    id integer NOT NULL,
    yazar_id integer NOT NULL,
    kategori_id integer,
    baslik character varying(300) NOT NULL,
    slug character varying(300) NOT NULL,
    ozet text,
    icerik text NOT NULL,
    kapak_gorseli character varying(500),
    durum character varying(20) DEFAULT 'taslak'::character varying,
    goruntulenme integer DEFAULT 0,
    yayinlanma_tarihi timestamp with time zone,
    olusturulma_tarihi timestamp with time zone DEFAULT now(),
    guncelleme_tarihi timestamp with time zone DEFAULT now(),
    CONSTRAINT makaleler_durum_check CHECK (((durum)::text = ANY ((ARRAY['taslak'::character varying, 'yayinda'::character varying, 'arsiv'::character varying])::text[])))
);


--
-- Name: TABLE makaleler; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.makaleler IS 'Blog makaleleri - SEO uyumlu, uzun formlu editoryal i├ğerikler.';


--
-- Name: makaleler_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.makaleler_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: makaleler_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.makaleler_id_seq OWNED BY public.makaleler.id;


--
-- Name: soru_etiketler; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.soru_etiketler (
    soru_id integer NOT NULL,
    etiket_id integer NOT NULL
);


--
-- Name: TABLE soru_etiketler; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.soru_etiketler IS 'Sorular ve etiketler aras─▒ndaki ├ğoka-├ğok ili┼şki tablosu.';


--
-- Name: sorular; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sorular (
    id integer NOT NULL,
    yazar_id integer NOT NULL,
    kategori_id integer,
    baslik character varying(300) NOT NULL,
    icerik text NOT NULL,
    durum character varying(20) DEFAULT 'aktif'::character varying,
    oy_sayisi integer DEFAULT 0,
    goruntulenme integer DEFAULT 0,
    olusturulma_tarihi timestamp with time zone DEFAULT now(),
    guncelleme_tarihi timestamp with time zone DEFAULT now(),
    CONSTRAINT sorular_durum_check CHECK (((durum)::text = ANY ((ARRAY['aktif'::character varying, 'cozuldu'::character varying, 'kapali'::character varying])::text[])))
);


--
-- Name: TABLE sorular; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.sorular IS 'Topluluk forum sorular─▒ - K─▒zlarSoruyor/Reddit tarz─▒ etkile┼şim.';


--
-- Name: sorular_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sorular_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sorular_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sorular_id_seq OWNED BY public.sorular.id;


--
-- Name: uzman_basvurulari; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.uzman_basvurulari (
    id integer NOT NULL,
    kullanici_id integer,
    uzmanlik_alani character varying(100) NOT NULL,
    belge_linki text,
    durum character varying(20) DEFAULT 'bekliyor'::character varying,
    basvuru_tarihi timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT uzman_basvurulari_durum_check CHECK (((durum)::text = ANY ((ARRAY['bekliyor'::character varying, 'onaylandi'::character varying, 'reddedildi'::character varying])::text[])))
);


--
-- Name: uzman_basvurulari_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.uzman_basvurulari_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: uzman_basvurulari_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.uzman_basvurulari_id_seq OWNED BY public.uzman_basvurulari.id;


--
-- Name: yorumlar; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.yorumlar (
    id integer NOT NULL,
    yazar_id integer NOT NULL,
    makale_id integer,
    soru_id integer,
    ust_yorum_id integer,
    icerik text NOT NULL,
    oy_sayisi integer DEFAULT 0,
    olusturulma_tarihi timestamp with time zone DEFAULT now(),
    guncelleme_tarihi timestamp with time zone DEFAULT now(),
    CONSTRAINT chk_yorum_hedef CHECK ((((makale_id IS NOT NULL) AND (soru_id IS NULL)) OR ((makale_id IS NULL) AND (soru_id IS NOT NULL))))
);


--
-- Name: TABLE yorumlar; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.yorumlar IS 'Makale ve soru yorumlar─▒. ─░├ğ i├ğe (nested) yan─▒t deste─şi.';


--
-- Name: yorumlar_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.yorumlar_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: yorumlar_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.yorumlar_id_seq OWNED BY public.yorumlar.id;


--
-- Name: begeniler id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.begeniler ALTER COLUMN id SET DEFAULT nextval('public.begeniler_id_seq'::regclass);


--
-- Name: etiketler id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etiketler ALTER COLUMN id SET DEFAULT nextval('public.etiketler_id_seq'::regclass);


--
-- Name: gunluk_kayitlar id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.gunluk_kayitlar ALTER COLUMN id SET DEFAULT nextval('public.gunluk_kayitlar_id_seq'::regclass);


--
-- Name: karma_gecmisi id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.karma_gecmisi ALTER COLUMN id SET DEFAULT nextval('public.karma_gecmisi_id_seq'::regclass);


--
-- Name: kategoriler id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kategoriler ALTER COLUMN id SET DEFAULT nextval('public.kategoriler_id_seq'::regclass);


--
-- Name: kullanicilar id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kullanicilar ALTER COLUMN id SET DEFAULT nextval('public.kullanicilar_id_seq'::regclass);


--
-- Name: makaleler id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.makaleler ALTER COLUMN id SET DEFAULT nextval('public.makaleler_id_seq'::regclass);


--
-- Name: sorular id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sorular ALTER COLUMN id SET DEFAULT nextval('public.sorular_id_seq'::regclass);


--
-- Name: uzman_basvurulari id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.uzman_basvurulari ALTER COLUMN id SET DEFAULT nextval('public.uzman_basvurulari_id_seq'::regclass);


--
-- Name: yorumlar id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.yorumlar ALTER COLUMN id SET DEFAULT nextval('public.yorumlar_id_seq'::regclass);


--
-- Name: begeniler begeniler_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.begeniler
    ADD CONSTRAINT begeniler_pkey PRIMARY KEY (id);


--
-- Name: etiketler etiketler_ad_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etiketler
    ADD CONSTRAINT etiketler_ad_key UNIQUE (ad);


--
-- Name: etiketler etiketler_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etiketler
    ADD CONSTRAINT etiketler_pkey PRIMARY KEY (id);


--
-- Name: etiketler etiketler_slug_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etiketler
    ADD CONSTRAINT etiketler_slug_key UNIQUE (slug);


--
-- Name: gunluk_kayitlar gunluk_kayitlar_kullanici_id_tarih_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.gunluk_kayitlar
    ADD CONSTRAINT gunluk_kayitlar_kullanici_id_tarih_key UNIQUE (kullanici_id, tarih);


--
-- Name: gunluk_kayitlar gunluk_kayitlar_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.gunluk_kayitlar
    ADD CONSTRAINT gunluk_kayitlar_pkey PRIMARY KEY (id);


--
-- Name: karma_gecmisi karma_gecmisi_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.karma_gecmisi
    ADD CONSTRAINT karma_gecmisi_pkey PRIMARY KEY (id);


--
-- Name: kategoriler kategoriler_ad_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kategoriler
    ADD CONSTRAINT kategoriler_ad_key UNIQUE (ad);


--
-- Name: kategoriler kategoriler_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kategoriler
    ADD CONSTRAINT kategoriler_pkey PRIMARY KEY (id);


--
-- Name: kategoriler kategoriler_slug_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kategoriler
    ADD CONSTRAINT kategoriler_slug_key UNIQUE (slug);


--
-- Name: kiliti_acilan_makaleler kiliti_acilan_makaleler_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kiliti_acilan_makaleler
    ADD CONSTRAINT kiliti_acilan_makaleler_pkey PRIMARY KEY (kullanici_id, makale_id);


--
-- Name: kullanicilar kullanicilar_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kullanicilar
    ADD CONSTRAINT kullanicilar_email_key UNIQUE (email);


--
-- Name: kullanicilar kullanicilar_kullanici_adi_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kullanicilar
    ADD CONSTRAINT kullanicilar_kullanici_adi_key UNIQUE (kullanici_adi);


--
-- Name: kullanicilar kullanicilar_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kullanicilar
    ADD CONSTRAINT kullanicilar_pkey PRIMARY KEY (id);


--
-- Name: makale_etiketler makale_etiketler_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.makale_etiketler
    ADD CONSTRAINT makale_etiketler_pkey PRIMARY KEY (makale_id, etiket_id);


--
-- Name: makaleler makaleler_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.makaleler
    ADD CONSTRAINT makaleler_pkey PRIMARY KEY (id);


--
-- Name: makaleler makaleler_slug_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.makaleler
    ADD CONSTRAINT makaleler_slug_key UNIQUE (slug);


--
-- Name: soru_etiketler soru_etiketler_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.soru_etiketler
    ADD CONSTRAINT soru_etiketler_pkey PRIMARY KEY (soru_id, etiket_id);


--
-- Name: sorular sorular_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sorular
    ADD CONSTRAINT sorular_pkey PRIMARY KEY (id);


--
-- Name: uzman_basvurulari uzman_basvurulari_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.uzman_basvurulari
    ADD CONSTRAINT uzman_basvurulari_pkey PRIMARY KEY (id);


--
-- Name: yorumlar yorumlar_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.yorumlar
    ADD CONSTRAINT yorumlar_pkey PRIMARY KEY (id);


--
-- Name: idx_begeni_soru_tekil; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_begeni_soru_tekil ON public.begeniler USING btree (kullanici_id, soru_id) WHERE (soru_id IS NOT NULL);


--
-- Name: idx_begeni_yorum_tekil; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_begeni_yorum_tekil ON public.begeniler USING btree (kullanici_id, yorum_id) WHERE (yorum_id IS NOT NULL);


--
-- Name: idx_begeniler_kullanici; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_begeniler_kullanici ON public.begeniler USING btree (kullanici_id);


--
-- Name: idx_makaleler_durum; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_makaleler_durum ON public.makaleler USING btree (durum);


--
-- Name: idx_makaleler_kategori; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_makaleler_kategori ON public.makaleler USING btree (kategori_id);


--
-- Name: idx_makaleler_slug; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_makaleler_slug ON public.makaleler USING btree (slug);


--
-- Name: idx_makaleler_tarih; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_makaleler_tarih ON public.makaleler USING btree (yayinlanma_tarihi DESC);


--
-- Name: idx_makaleler_yayinda; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_makaleler_yayinda ON public.makaleler USING btree (durum, yayinlanma_tarihi DESC) WHERE ((durum)::text = 'yayinda'::text);


--
-- Name: idx_makaleler_yazar; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_makaleler_yazar ON public.makaleler USING btree (yazar_id);


--
-- Name: idx_sorular_durum; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sorular_durum ON public.sorular USING btree (durum);


--
-- Name: idx_sorular_kategori; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sorular_kategori ON public.sorular USING btree (kategori_id);


--
-- Name: idx_sorular_oy; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sorular_oy ON public.sorular USING btree (oy_sayisi DESC);


--
-- Name: idx_sorular_tarih; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sorular_tarih ON public.sorular USING btree (olusturulma_tarihi DESC);


--
-- Name: idx_sorular_yazar; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sorular_yazar ON public.sorular USING btree (yazar_id);


--
-- Name: idx_yorumlar_makale; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_yorumlar_makale ON public.yorumlar USING btree (makale_id) WHERE (makale_id IS NOT NULL);


--
-- Name: idx_yorumlar_soru; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_yorumlar_soru ON public.yorumlar USING btree (soru_id) WHERE (soru_id IS NOT NULL);


--
-- Name: idx_yorumlar_tarih; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_yorumlar_tarih ON public.yorumlar USING btree (olusturulma_tarihi DESC);


--
-- Name: idx_yorumlar_ust_yorum; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_yorumlar_ust_yorum ON public.yorumlar USING btree (ust_yorum_id) WHERE (ust_yorum_id IS NOT NULL);


--
-- Name: idx_yorumlar_yazar; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_yorumlar_yazar ON public.yorumlar USING btree (yazar_id);


--
-- Name: kullanicilar trg_kullanicilar_guncelle; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_kullanicilar_guncelle BEFORE UPDATE ON public.kullanicilar FOR EACH ROW EXECUTE FUNCTION public.fn_guncelleme_tarihi_guncelle();


--
-- Name: makaleler trg_makaleler_guncelle; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_makaleler_guncelle BEFORE UPDATE ON public.makaleler FOR EACH ROW EXECUTE FUNCTION public.fn_guncelleme_tarihi_guncelle();


--
-- Name: sorular trg_sorular_guncelle; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_sorular_guncelle BEFORE UPDATE ON public.sorular FOR EACH ROW EXECUTE FUNCTION public.fn_guncelleme_tarihi_guncelle();


--
-- Name: yorumlar trg_yorumlar_guncelle; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_yorumlar_guncelle BEFORE UPDATE ON public.yorumlar FOR EACH ROW EXECUTE FUNCTION public.fn_guncelleme_tarihi_guncelle();


--
-- Name: begeniler begeniler_kullanici_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.begeniler
    ADD CONSTRAINT begeniler_kullanici_id_fkey FOREIGN KEY (kullanici_id) REFERENCES public.kullanicilar(id) ON DELETE CASCADE;


--
-- Name: begeniler begeniler_soru_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.begeniler
    ADD CONSTRAINT begeniler_soru_id_fkey FOREIGN KEY (soru_id) REFERENCES public.sorular(id) ON DELETE CASCADE;


--
-- Name: begeniler begeniler_yorum_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.begeniler
    ADD CONSTRAINT begeniler_yorum_id_fkey FOREIGN KEY (yorum_id) REFERENCES public.yorumlar(id) ON DELETE CASCADE;


--
-- Name: gunluk_kayitlar gunluk_kayitlar_kullanici_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.gunluk_kayitlar
    ADD CONSTRAINT gunluk_kayitlar_kullanici_id_fkey FOREIGN KEY (kullanici_id) REFERENCES public.kullanicilar(id) ON DELETE CASCADE;


--
-- Name: karma_gecmisi karma_gecmisi_kullanici_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.karma_gecmisi
    ADD CONSTRAINT karma_gecmisi_kullanici_id_fkey FOREIGN KEY (kullanici_id) REFERENCES public.kullanicilar(id) ON DELETE CASCADE;


--
-- Name: kiliti_acilan_makaleler kiliti_acilan_makaleler_kullanici_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kiliti_acilan_makaleler
    ADD CONSTRAINT kiliti_acilan_makaleler_kullanici_id_fkey FOREIGN KEY (kullanici_id) REFERENCES public.kullanicilar(id) ON DELETE CASCADE;


--
-- Name: kiliti_acilan_makaleler kiliti_acilan_makaleler_makale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kiliti_acilan_makaleler
    ADD CONSTRAINT kiliti_acilan_makaleler_makale_id_fkey FOREIGN KEY (makale_id) REFERENCES public.makaleler(id) ON DELETE CASCADE;


--
-- Name: makale_etiketler makale_etiketler_etiket_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.makale_etiketler
    ADD CONSTRAINT makale_etiketler_etiket_id_fkey FOREIGN KEY (etiket_id) REFERENCES public.etiketler(id) ON DELETE CASCADE;


--
-- Name: makale_etiketler makale_etiketler_makale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.makale_etiketler
    ADD CONSTRAINT makale_etiketler_makale_id_fkey FOREIGN KEY (makale_id) REFERENCES public.makaleler(id) ON DELETE CASCADE;


--
-- Name: makaleler makaleler_kategori_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.makaleler
    ADD CONSTRAINT makaleler_kategori_id_fkey FOREIGN KEY (kategori_id) REFERENCES public.kategoriler(id) ON DELETE SET NULL;


--
-- Name: makaleler makaleler_yazar_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.makaleler
    ADD CONSTRAINT makaleler_yazar_id_fkey FOREIGN KEY (yazar_id) REFERENCES public.kullanicilar(id) ON DELETE CASCADE;


--
-- Name: soru_etiketler soru_etiketler_etiket_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.soru_etiketler
    ADD CONSTRAINT soru_etiketler_etiket_id_fkey FOREIGN KEY (etiket_id) REFERENCES public.etiketler(id) ON DELETE CASCADE;


--
-- Name: soru_etiketler soru_etiketler_soru_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.soru_etiketler
    ADD CONSTRAINT soru_etiketler_soru_id_fkey FOREIGN KEY (soru_id) REFERENCES public.sorular(id) ON DELETE CASCADE;


--
-- Name: sorular sorular_kategori_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sorular
    ADD CONSTRAINT sorular_kategori_id_fkey FOREIGN KEY (kategori_id) REFERENCES public.kategoriler(id) ON DELETE SET NULL;


--
-- Name: sorular sorular_yazar_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sorular
    ADD CONSTRAINT sorular_yazar_id_fkey FOREIGN KEY (yazar_id) REFERENCES public.kullanicilar(id) ON DELETE CASCADE;


--
-- Name: uzman_basvurulari uzman_basvurulari_kullanici_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.uzman_basvurulari
    ADD CONSTRAINT uzman_basvurulari_kullanici_id_fkey FOREIGN KEY (kullanici_id) REFERENCES public.kullanicilar(id) ON DELETE CASCADE;


--
-- Name: yorumlar yorumlar_makale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.yorumlar
    ADD CONSTRAINT yorumlar_makale_id_fkey FOREIGN KEY (makale_id) REFERENCES public.makaleler(id) ON DELETE CASCADE;


--
-- Name: yorumlar yorumlar_soru_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.yorumlar
    ADD CONSTRAINT yorumlar_soru_id_fkey FOREIGN KEY (soru_id) REFERENCES public.sorular(id) ON DELETE CASCADE;


--
-- Name: yorumlar yorumlar_ust_yorum_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.yorumlar
    ADD CONSTRAINT yorumlar_ust_yorum_id_fkey FOREIGN KEY (ust_yorum_id) REFERENCES public.yorumlar(id) ON DELETE CASCADE;


--
-- Name: yorumlar yorumlar_yazar_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.yorumlar
    ADD CONSTRAINT yorumlar_yazar_id_fkey FOREIGN KEY (yazar_id) REFERENCES public.kullanicilar(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 923c2g1qzYFA3POGnhnT6KMrhYjJcy1GtINbVOxckr7aqnsIF1AfiLBlw67X4RE

